[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
itsdangerous = "*"
texsoup = "*"
markdown-it-py = "~=2.2"
mdit-py-plugins = "*"
asteval = "*"
coloraide = "~=1.0"
linkify-it-py = "*"
websockets = "~=10.0"
pydantic = "~=1.10"
cryptography = "~=38.0"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
