[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
itsdangerous = "*"
texsoup = "*"
markdown-it-py = "*"
mdit-py-plugins = "*"
asteval = "*"
coloraide = "*"
linkify-it-py = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
