title: Плюсник 9Д
titles:
  login: Вход в систему
  admin: Администрация
  sheet_editor: Редактор листков
  conduit_editor: Редактор плюсника
  edit_user_modal: Редактирование пользователя
  bulk_create_users_modal: Создание пользователей
  change_settings_modal: Изменение настроек
  formula_editor_modal: Редактор формул
  image_editor: Картинки
navbar:
  index: Главная
  sheet_editor: Редактор листков
  sheet_viewer: Просмотр листков
  conduit_editor: Редактор плюсника
  admin: Администрация
  logout: Выйти
  image_editor: Картинки
scopes:
  admin: Администрация сайта
  sheets_edit: Редактирование TeX файлов
  conduit_edit: Редактирование плюсника
  conduit_generation: Просмотр своего плюсника
  formula_edit: Редактирование формул

user_category:
  admin: Администраторы
  teacher: Учителя
  student: Ученики

exceptions:
  invalid_credentials: Неверный логин или пароль!
  account_disabled: Ваша учетная запись заблокирована! Обратитесь к Сане.
  bad_jwt: Неверный токен доступа! Обратитесь к Сане.
  insufficient_scope: Недостаточно прав для выполнения операции!
  account_already_exists: Учетная запись с таким логином уже существует!

  latex_invariant_error: Не удалось реализовать инвариант компилятора! Обратитесь к Сане.
  latex_syntax_error: "Ошибка синтаксиса LaTeX: '%(message)s'"
  latex_semantic_error: "Семантическая ошибка при компиляции LaTeX: '%(message)s'"
  no_sheet_id: Не указан идентификатор листка! Установите при помощи '\sheetid{<id>}'.
  no_sheet_name: Не указано название листка! Установите при помощи '\sheetname{<id>}'.
  file_not_found: Файл '%(filename)s' не найден!
  latex_sheet_id_mismatch: Идентификатор листка в LaTeX не совпадает с ожидаемым! Ожидалось '%(expected)s', получено '%(actual)s'. Сохранение отменено для сохранения данных.
  no_latex_sheet: В файле '%(filename)s' нет LaTeX объекта!
  no_conduit: В файле '%(filename)s' нет кондуита!
  file_corrupted: Файл '%(filename)s' поврежден!
  invalid_conduit_data: Не удалось сохранить кондуит! Обратитесь к Сане.
  stacking_limit: Превышен лимит пост-командного спуска!
  unknown_node: Неизвестный блок на верхнем уровне - %(node)s (тип %(type)s)!
  invalid_argcount: Некорректное количество аргументов к команде %(name)s! Ожидалось %(expected)d, получено %(actual)d.
  invalid_label_argcount: Некорректное количество аргументов к команде \label!
  invalid_graphics_argcount: Некорректное количество аргументов к команде \includegraphics!
  invalid_graphics_filename: Некорректное имя файла в команде \includegraphics '%(filename)s'!
  label_no_problem: Не удалось найти задачу при создании метки '%(label)s'!
  itemextract_error: Блоки \itemize и \enumerate должны начинаться с \item, а не с %(name)s!
  command_banned: Команда '%(name)s' запрещена! Используйте '%(instead)s' вместо нее.
  malformed_newcommand: Некорректное определение команды! Получено '%(actual)s'.
  nesting_limit: Превышен лимит вложенности команд (%(limit)i)!
  latex_big: LaTeX файл слишком большой! Ожидалось не более %(limit)i символов, получено %(size)i.
  too_many_commands: Слишком много команд на одном уровне! Ожидалось не более %(limit)i, получено %(size)i.
  need_force_regen: Используется force стратегия перестройки кондуитов, но кондуит уже есть. Добавьте в документ '__FORCE_REGEN__'.
  passwords_mismatch: Пароли не совпадают!
  no_conduit_for_user: У пользователя нет кондуита!
  invalid_image_type: Некорректный тип изображения! Ожидалось png или jpg, получено '%(actual)s'.
  image_too_large: Превышен максимальный размер изображения!
  image_already_exists: Изображение '%(name)s' уже существует!
  error_while_randomname: Не удалось сгенерировать название файла! Попробуйте сохранить файл заново.
  regen_limit: Превышен предел на генерацию ссылок!

common:
  last_sheets: Последние листочки
  username: Имя пользователя
  password: Пароль
  btn_login: Войти
  btn_close: Закрыть
  btn_save: Сохранить
  sheet_in_use: "Редактируется пользователями: "
  unsaved_changes: В файле есть несохранённые изменения! Используйте Ctrl+S, чтобы их сохранить, или нажмите на тот же листок ещё раз, чтобы их сбросить.

pages:
  index:
    login_for_full_access: Войдите в систему для полного доступа к сайту.
    logged_in_as: "Вы вошли в систему как %(name)s. Ваши права доступа:"
    settings: Настройки
    current_password: Текущий пароль
    allow_viewing_conduits: Разрешить просмотр кондуитов другим ученикам
    new_password: Новый пароль
    confirm_password: Повторите пароль
    change_password: Изменить пароль
    password_changed: Пароль успешно изменен!
    conduit_settings_changed: Настройки успешно изменены!
    invalid_password_length: Пароль должен быть длиной от 6 до 64 символов!
    conduit_autosave: Автосохранение кондуитов
  admin:
    bulk_create_howto: Укажите одно имя на строку. Для каждого нового пользователя, который ещё не существует, к имени будут добавлены логин и пароль.
    btn_edit_user: Редактировать
    btn_reset_password: Сбросить пароль
    btn_bulk_create_users: Создать пользователей
    switch_teachers: Создание учителей
    edit_login: Логин
    edit_username: Имя пользователя
    edit_privileges: Права доступа
    error_updating_privileges: "Произошла ошибка при редактировании прав доступа: "
    new_password: "Новый пароль: "
    error_resetting_password: "Произошла ошибка при сбросе пароля: "
    error_bulk_creating: "Произошла ошибка при создании пользователей: "
    user_login: "Логин: <code>%s</code><br /> привилегии:"

  sheet_editor:
    delete_dangerous: Нажмите на эту кнопку ещё раз, чтобы удалить листок.
    delete_sheet: Если вы точно хотите удалить листок, введите здесь его номер/ID.
    warning_found: "Компилятор выдал предупреждения при сохранении: "
    btn_add_sheet: Создать листок
    btn_remove_sheet: Удалить листок
    missing_cache_strategy: "Следующие задачи пропали из листка: %s. Кондуит не был сгенерирован."
    wipe_cache_fail: "Не удалось перегенерировать названия задач: было %d, стало %d."

  sheet_viewer:
    mode_sheet: Листочек
    mode_conduit: Кондуит
  conduit:
    submit_date: "Дата сдачи: "
    teacher: "Принимающий: "
    editor: "Оценку выставил "
    set_for: Выставляю за
    set_value: Значение
    successfully_saved: Кондуит сохранён!
    error_while_saving: Произошла ошибка при сохранении кондуита
    formulas: Формулы
  image_editor:
    upload_modal: Загрузка файлов
