{% extends "template.html" %}
{% set title = "sheet_editor" %}
{% block main %}
    <h2>{{ locale.titles.sheet_editor }}</h2>

    <div id="editor-app">
        {% include "parts/vue-alert.html" %}

        <div class="saved-symbol" v-if="unsaved_changes">*</div>

        <div class="row">
            <div class="col-3 list-group">
                <span v-for="(sheet, index) in sheet_list" :title="getTitle(sheet)">
                    <button type="button" class="list-group-item list-group-item-action"
                            :disabled="isDisabled(sheet)" :class="getColor(sheet, index)" @click="openSheet(sheet)">
                        [[ sheet.name ]]
                    </button>
                </span>
                <button type="button" class="list-group-item list-group-item-action list-group-item-primary" @click="newSheet">
                    {{ locale.pages.sheet_editor.btn_add_sheet }}
                </button>
                <button type="button" class="list-group-item list-group-item-action list-group-item-danger" @click="deleteSheet">
                    {{ locale.pages.sheet_editor.btn_remove_sheet }}
                </button>
            </div>
            <div class="col-9">
                <div id="ace-editor-teleport"></div>
            </div>
        </div>
    </div>
    <div id="ace-editor"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/mode-latex.min.js"></script>
    <script src="/static/editorbind.js"></script>
    <script src="/static/wssbind.js"></script>

    <script>
        const cdtexport_help = "% The argument can be one of 'none', 'once', 'force' and 'cache-optimal', default is 'none'.\n" +
            "% I recommend using 'none' before the sheet exists, 'once' to generate it, and 'cache-optimal' if you add a new problem."
        const InitialText = `\\sheetid{}\n\\sheetname{New sheet}\n${cdtexport_help}\n\\cdtexport{none}`
        let wss, editor
        const app = {
            data() {
                return {
                    unsaved_changes: false,
                    alert: new AlertModule(),

                    sheet_list: [],
                    current_text: "",
                    current_sheet: "",
                    other_users: {},
                    last_sheet: "",
                    handle: -1,
                }
            },

            methods: {
                ws_onInit(data) {
                    this.sheet_list = data.files
                    this.other_users = data.open_sheets
                    this.handle = data.handle
                },
                ws_onOpen(data) {
                    const {sheet_id, sheet} = data
                    this.other_users[sheet_id] = sheet
                },
                ws_onClose(data) {
                    const {id, sheet_id} = data
                    delete this.other_users[sheet_id].users[id]
                    if (Object.keys(this.other_users[sheet_id].users).length === 0)
                        delete this.other_users[sheet_id]
                },
                ws_onConduitUpdate() {},

                isDisabled(sheet) {
                    return this.other_users[sheet.id] !== undefined && !this.other_users[sheet_id].users[this.handle]
                },
                getTitle(sheet) {
                    const userdata = this.other_users[sheet.id]
                    if (userdata === undefined)
                        return ""

                    const username = Object.values(userdata.users).join("\n")
                    return `{{ locale.common.sheet_in_use }}\n${username}`
                },
                getColor(sheet, index) {
                    if (sheet.id === this.current_sheet)
                        return "list-group-item-success"

                    if (this.isDisabled(sheet))
                        return "list-group-item-dark"
                    if (index <= 3)
                        return "list-group-item-info"
                    return "list-group-item-secondary"
                },
                newSheet() {
                    if (this.unsaved_changes && this.last_sheet !== this.current_sheet) {
                        this.alert.set("{{ locale.common.unsaved_changes }}", "warning")
                        this.last_sheet = this.current_sheet
                        return
                    }

                    this.alert.clear()
                    this.current_sheet = ""
                    this.last_sheet = ""
                    this.current_text = InitialText
                    editor.setText(this.current_text)
                    this.unsaved_changes = false
                },

                async deleteSheet() {
                    if (!this.current_sheet)
                        return

                    if (this.last_sheet !== this.current_sheet) {
                        this.alert.set("{{ locale.pages.sheet_editor.delete_dangerous }}", "warning")
                        this.last_sheet = this.current_sheet
                        return
                    }

                    const attempted_id = prompt("{{ locale.pages.sheet_editor.delete_sheet }}")
                    this.last_sheet = ""
                    this.alert.clear()
                    if (attempted_id !== this.current_sheet)
                        return

                    await axios.delete(`/sheets/${this.current_sheet}`)
                    this.current_sheet = ""
                    editor.setText("")
                    this.unsaved_changes = false
                    wss.send({action: "Close", id: this.current_sheet})
                },

                async openSheet(sheet) {
                    if (this.unsaved_changes && this.last_sheet !== this.current_sheet) {
                        this.alert.set("{{ locale.common.unsaved_changes }}", "warning")
                        this.last_sheet = this.current_sheet
                        return
                    }

                    this.last_sheet = ""
                    this.alert.clear()
                    try {
                        const response = await axios.get(`/sheets/content/${sheet.id}`)
                        editor.setText(response.data)
                        this.current_sheet = sheet.id
                        this.unsaved_changes = false
                        wss.send({action: "Open", method: "sheet", id: sheet.id})
                    } catch (e1) {
                        this.alert.logError(`Error while loading sheet ${sheet.id}`, e1)
                    }
                },

                async saveText(text) {
                    if (!this.unsaved_changes)
                        return

                    let force_regen = false
                    if (text.indexOf("__FORCE_REGEN__") > -1) {
                        force_regen = true
                        text = text.replace("__FORCE_REGEN__", "")
                        editor.remove("__FORCE_REGEN__")
                    }

                    try {
                        const response = await axios.post("/sheets/edit", {
                            file_content: text, expected_sheet: this.current_sheet || "", force_regen
                        })
                        if (response.data.warning) {
                            this.alert.set(`{{ locale.pages.sheet_editor.warning_found }}${response.data.warning}`, "warning")
                        } else {
                            this.alert.clear()
                        }
                        this.unsaved_changes = false
                        this.current_sheet = response.data.sheet_id
                        wss.send({action: "Open", method: "sheet", id: this.current_sheet})
                    } catch(e1) {
                        this.alert.logError("Error while saving sheet", e1)
                    }
                }
            },
            created() {
                window.onbeforeunload = () => this.unsaved_changes ? true : null
            }
        }

        const vue = Vue.createApp(app)
        vue.config.compilerOptions.delimiters = ["[[", "]]"]
        const vue_mount = vue.mount("#editor-app")
        wss = new WebsocketBind(vue_mount, "/sheets/editor")
        editor = new EditorBind(vue_mount, "ace-editor", "ace/mode/latex")
        editor.teleport("ace-editor-teleport")
    </script>
{% endblock %}
