{% extends "template.html" %}
{% set title = "sheet_viewer" %}
{% block main %}
    <div id="viewer-app" class="mt-2">
        <div class="row">
            <div class="col-3 list-group overflow-auto height-sheet-viewer">
                <button v-for="(sheet, index) in sheet_list" type="button" class="list-group-item list-group-item-action"
                        :class="getColor(sheet, index)" @click="openSheet(sheet)">
                    [[ sheet.name ]]
                </button>
            </div>
            <div class="col-9">
                <div class="height-sheet-viewer overflow-auto">
                    <div class="d-flex" v-if="current_sheet">
                        <h2>[[ sheet_names[current_sheet] ]]</h2>
                        <button class="btn btn-primary ms-3 mb-3" type="button" v-if="states.length > 1" @click="cycleState">
                            [[ state_names[nextState] ]]
                        </button>
                    </div>
                    <div v-html="sheet_content" v-katex="" v-show="current_state == 'sheet'" id="katex-viewer"></div>
                    {% if user and user.privileges.conduit_generation %}
                    <div class="row mt-3 p-0 m-0" v-show="current_state == 'conduit'">
                        <div class="col-auto p-0" v-for="(problem, problem_index) in problems">
                            <table class="table table-conduit table-conduit-limited">
                                <tr v-for="(cell, index) in problem">
                                    <td class="conduit-cell" :class="{'first-cell': problem_index == 0}" v-if="index != 0" :title="getCellTitle(cell)"
                                        :style="getStyle(index, problem_index)">
                                        [[ getCellValue(cell) ]]
                                    </td>
                                    <th class="conduit-cell" v-else="" v-html="getCellValue(cell)"></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="/static/wssbind.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/mode-latex.min.js"></script>
    <script src="/static/editorbind.js"></script>

    <script>
        const katex_viewer = document.getElementById("katex-viewer")
        const katex_viewer_parent = document.getElementById("katex-viewer-parent")
        const katex_viewer_teleport = document.getElementById("katex-viewer-teleport")
        const app = {
            data() {
                return {
                    sheet_list: [],
                    sheet_names: {},
                    current_sheet: "",
                    sheet_content: "",
                    problems: [],
                    current_state: "sheet",
                    state_names: {
                        "sheet": "{{ locale.pages.sheet_viewer.mode_sheet }}",
                        "conduit": "{{ locale.pages.sheet_viewer.mode_conduit }}",
                    },
                    states: [
                        "sheet",
                        {% if user and user.privileges.conduit_generation %}
                            "conduit",
                        {% endif %}
                    ],
                    styles: {},
                }
            },

            methods: {
                async openSheet(sheet, going_back=1, copy_hash=false) {
                    const hash = copy_hash ? document.location.hash : ""
                    if (going_back)
                        window.history.pushState({going_back}, "", `/sheets/viewer/${sheet.id}`)
                    try {
                        const response = await axios.get(`/sheets/file/${sheet.id}`)
                        this.sheet_content = response.data.html
                        this.current_sheet = sheet.id
                        this.problems = response.data.problems
                        this.styles = response.data.styles
                        if (hash) {
                            document.location.hash = hash
                            setTimeout(() => document.getElementById(decodeURI(hash.slice(1))).scrollIntoView(true), 0.1)
                        }
                        setTimeout(() => this.updateConduitFill(response.data.solved_problems), 0.1)
                    } catch (e1) {
                        console.log(e1)
                    }
                },
                updateConduitFill(solved_problems) {
                    // Note: as the client does not know about the conduit, we have to do this manually
                    // and can't rely on Vue to do it for us
                    const problems = document.getElementsByClassName("problem-real")
                    for (const prob of problems) {
                        const conduit_number = prob.getAttribute("data-cdt-number")
                        if (solved_problems[conduit_number]) {
                            prob.classList.add("problem-solved")
                        }
                    }
                },
                getColor(sheet, index) {
                    if (sheet.id === this.current_sheet)
                        return "list-group-item-success"

                    if (index <= 3)
                        return "list-group-item-info"
                    return "list-group-item-secondary"
                },
                cycleState() {
                    const current_index = this.states.indexOf(this.current_state)
                    this.current_state = this.states[(current_index + 1) % this.states.length]
                },

                getCellTitle(val) {
                    const parts = val.split(";")
                    if (parts.length <= 1)
                        return null
                    let value = `{{ locale.pages.conduit.submit_date }}${parts[1]}\n` +
                                `{{ locale.pages.conduit.teacher }}${parts[2]}`
                    if (parts[3] && parts[3] !== parts[2])
                        value += `\n{{ locale.pages.conduit.editor }}${parts[3]}`
                    return value
                },
                getCellValue(val) {
                    val = val.split(";", 1)[0]
                    return val === "0" ? "" : val
                },
                getStyle(row_index, column_index) {
                    if (!this.styles[column_index])
                        return null
                    const value = this.styles[column_index][row_index]
                    return value || null
                },
            },
            async created() {
                try {
                    const response = await axios.get("/sheets/list")
                    this.sheet_list = response.data
                    for (const sheet of this.sheet_list) {
                        this.sheet_names[sheet.id] = sheet.name
                    }
                } catch (e1) {
                    this.alert.logError(`Error while loading sheet list`, e1)
                }

                const init_sheet = "{{ sheet.replace('"', '\\"') }}"
                if (init_sheet)
                    await this.openSheet({id: init_sheet}, 1, true)
            },
            computed: {
                nextState() {
                    const current_index = this.states.indexOf(this.current_state)
                    return this.states[(current_index + 1) % this.states.length]
                },
            }
        }

        const vue = Vue.createApp(app)
        vue.directive("katex", {
            updated(el, binding) {
                renderMathInElement(el, {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "$", right: "$", display: false},
                    ],
                    throwOnError: false
                })
            }
        })
        vue.config.compilerOptions.delimiters = ["[[", "]]"]
        const vm = vue.mount("#viewer-app")

        window.addEventListener("popstate", async event => {
            if (!event.state || !event.state.going_back) return
            const new_state = window.location.pathname
            await vm.openSheet({id: new_state.split("/").pop()}, 0)
        })
    </script>
{% endblock %}
