{% extends "template.html" %}
{% set title = "sheet_viewer" %}
{% block main %}
    <div id="viewer-app" class="mt-2">
        <div class="row">
            <div class="col-3 list-group overflow-auto height-sheet-viewer">
                <button v-for="(sheet, index) in sheet_list" type="button" class="list-group-item list-group-item-action"
                        :class="getColor(sheet, index)" @click="openSheet(sheet)">
                    [[ sheet.name ]]
                </button>
            </div>
            <div class="col-9">
                <h2>[[ sheet_names[current_sheet] ]]</h2>
                <div v-html="sheet_content" v-katex="" class="overflow-auto height-sheet-viewer" id="katex-viewer"></div>
            </div>
        </div>
    </div>

    <script src="/static/wssbind.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/mode-latex.min.js"></script>
    <script src="/static/editorbind.js"></script>

    <script>
        const katex_viewer = document.getElementById("katex-viewer")
        const katex_viewer_parent = document.getElementById("katex-viewer-parent")
        const katex_viewer_teleport = document.getElementById("katex-viewer-teleport")
        const app = {
            data() {
                return {
                    sheet_list: [],
                    sheet_names: {},
                    current_sheet: "",
                    sheet_content: "",
                }
            },

            methods: {
                async openSheet(sheet, going_back=1, copy_hash=false) {
                    const hash = copy_hash ? document.location.hash : ""
                    if (going_back)
                        window.history.pushState({going_back}, "", `/sheets/viewer/${sheet.id}`)
                    try {
                        const response = await axios.get(`/sheets/file/${sheet.id}`)
                        this.sheet_content = response.data
                        this.current_sheet = sheet.id
                        if (hash) {
                            document.location.hash = hash
                            setTimeout(() => document.getElementById(decodeURI(hash.slice(1))).scrollIntoView(true), 0.1)
                        }
                    } catch (e1) {
                        console.log(e1)
                    }
                },
                getColor(sheet, index) {
                    if (sheet.id === this.current_sheet)
                        return "list-group-item-success"

                    if (index <= 3)
                        return "list-group-item-info"
                    return "list-group-item-secondary"
                },
            },
            async created() {
                try {
                    const response = await axios.get("/sheets/list")
                    this.sheet_list = response.data
                    for (const sheet of this.sheet_list) {
                        this.sheet_names[sheet.id] = sheet.name
                    }
                } catch (e1) {
                    this.alert.logError(`Error while loading sheet list`, e1)
                }

                const init_sheet = "{{ sheet.replace('"', '\\"') }}"
                if (init_sheet)
                    await this.openSheet({id: init_sheet}, 1, true)
            }
        }

        const vue = Vue.createApp(app)
        vue.directive("katex", {
            updated(el, binding) {
                renderMathInElement(el, {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "$", right: "$", display: false},
                    ],
                    throwOnError: false
                })
            }
        })
        vue.config.compilerOptions.delimiters = ["[[", "]]"]
        const vm = vue.mount("#viewer-app")

        window.addEventListener("popstate", async event => {
            if (!event.state || !event.state.going_back) return
            const new_state = window.location.pathname
            await vm.openSheet({id: new_state.split("/").pop()}, 0)
        })
    </script>
{% endblock %}
