#ace-editor {
    width: 100%;
}

.height-sheet-editor {
    height: calc(100vh - 177px);
}

#ace-editor-formulas {
    height: calc(100vh - 300px);
    width: 100%;
}

.height-sheet-viewer {
    height: calc(100vh - 112px);
}

.height-conduit-editor {
    height: calc(100vh - 323px);
}

.saved-symbol {
	position: absolute;
    top: 55px;
    right: 5px;
	color: red;
	font-size: 40px;
    font-weight: bold;
}

.header-anchor {
    color: dimgray;
    text-decoration: none;
}

.table-freezer {
    border-collapse: separate;
    border-spacing: 0;
}

.table-freezer th:first-child, .table-freezer td:first-child {
    position: sticky;
    left: 0;
    background-color: lightsteelblue;
    background-clip: padding-box;
}

.table-freezer td:first-child {
    z-index: 20000;
}

.table-freezer thead, .table-freezer th:first-child {
    position: sticky;
    top: 0;
    z-index: 21000;
}

.table-freezer th {
    background-clip: padding-box;
    background-color: lightsteelblue;
    border: 1px solid dimgray;
}

.table-freezer td {
    border: 1px solid dimgray !important;
}

.table-chover td, .table-chover th {
    position: relative;
}

.table-chover {
    overflow: hidden;
}

.table-chover td:not(:first-child):hover::after {
    background-color: #f0f0f0;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -10000;
}

.table-conduit td:first-child, .table-conduit th:first-child {
    min-width: 220px;
    width: 220px;
}

.table-conduit td:not(:first-child), .table-conduit th:not(:first-child) {
    width: 47px;
    min-width: 47px;
    text-align: center;
    padding: 2px 2px 10px 2px;
}

.conduit-unsaved-cell {
    background-color: lightcoral !important;
}

.conduit-cell-editable {
    cursor: pointer;
}

.form-control-toolbar {
    width: 180px !important;
}

.form-control-toolbar-small {
    width: 120px !important;
}
