<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="{{ locale.titles[title] }}" />
    {% if image is defined %}
    <meta property="og:image" content="images/{{ image }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://conduit.179.ru{{ request.path }}" />
    <meta property="og:site_name" content="{{ locale.title }}" />
    <meta name="description" content="{{ locale.title }}">
    <meta name="viewport" property="width=device-width, initial-scale=1">

    <title>{% if title and locale.titles[title] %}{{ locale.titles[title] }} - {% endif %}{{ locale.title }}</title>
    <script src="/static/lib/vue.global.prod.js"></script>
    <script src="/static/lib/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/axios.min.js"></script>
    <link href="/static/lib/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/lib/katex/katex.min.css" crossorigin="anonymous" />
    <script defer src="/static/lib/katex/katex.min.js" crossorigin="anonymous"></script>
    <script defer src="/static/lib/katex/auto-render.min.js" crossorigin="anonymous"></script>
    <script src="/static/utilities.js"></script>
    <link href="/static/style.css" rel="stylesheet" />

    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            {% block misc %}
                {% include 'navbar.html' %}
                {% with messages = get_flashed_messages(request) %}
                    {% if messages %}
                        <div class="container">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.level }} alert-dismissible fade show mt-2" role="alert">
                                    {{ message.message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endblock %}
            {% block fmain %}
                <main class="container">
                    <div class="row">
                        <div class="col">
                            {% block main %}
                            {% endblock %}
                        </div>
                    </div>
                </main>
            {% endblock %}
            {% block misc2 %}
                {% include 'footer.html' %}
            {% endblock %}
        </div>
    </div>
</body>
</html>